<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <div class="container">
    <div class="">
    {% for mobilesp in mobile %}

    <img src="{{mobilesp.mobile_pic.url}}"><br>
    {{mobilesp.model}}<br>
    {{mobilesp.price}}<br>
    {{mobilesp.discription}}<br>

    <form action="{% url 'buy_now' mobilesp.id %}" method='POST'>
        
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">BUY NOW</button>
    </form>
    <br>

    <form action="{% url 'add_to_cart' mobilesp.id %}" method='POST'>
         {% csrf_token %}
        <button type="submit" class="btn btn-primary">ADD TO CART</button>
    </form>
</div>
</div>
{% endfor %}
</body>
</html>






